.container_component{
    display: flex;
    justify-content: center;
    width: 100%;
    background: #000;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 60px;
}

.box_nav_bar{
    display: flex;
    align-items: center;
    gap: 30px;
}

.module{
    display: flex;
    align-items: center;
    padding: 5px;
    height: 20px;
    font-family: 'Inter', 'system-ui', 'Avenir', Helvetica Arial, sans-serif;
}

.module:hover{
    background-color: #ffffff;
    color: #000;
    /* transition: 0.2s; */
    cursor: pointer;
    height: 50px;
    border-radius: 5px;
    font-weight: 500;
}