.content_overlay {
  top: 0;
  left: 0;

  position: fixed;
  z-index: 8002;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #0009;
}

.circularProgress {
  position: relative;
  width: 200px;
  height: 200px;
}

.progressRing {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.progressRingCircle {
  transition: stroke-dasharray 0.3s ease;
}

.progressRingCircleFill {
  transition: stroke-dasharray 0.3s ease;
}

.progressText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 600;
  color: #dddddd;
}
